$primary-green: #009688;
$secondary-green: #00695C;

html {
	overflow: auto;
	height:100%;
}

body {
	font-size:16px;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	letter-spacing:0.5px;
	background-color:#fff;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	display: flex;
	height:100%;
	min-height: 100vh;
	flex-direction: column;
	overflow: auto !important;
}

.main {
	margin: 40px 0 100px;
}

.innerMain {
	padding: 0;
	margin: 0 auto;
	width: 90%;
	max-width: 760px;
}

.master-main {
	flex: 1 0 auto;
}

h1 {
	text-align: center;
	font-size:3em;
	color: rgb(255, 255, 255);
	font-weight: 600;
	text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px;
	margin: 0px auto;
}

h3 {
	font-size: 1.5em;
	font-weight: 300;
}

h4 {
	font-size: 1.3em;
	margin:0;
}

p {
	word-break: break-word;
	white-space: pre-line;
	margin: 0 0 10px;
}

strong {
	font-weight:700;
}

.content-wrapper {
	margin-top: 64px;
}

.container-wrapper {
	padding-top: 1em;
	padding-bottom: 1em;
}

.container-wrapper.green-container-wrapper {
	background-color: $primary-green;
	color: #fff;
}

/* Title Typography */
.text-title,
.text-subtitle {
	text-align: left;

	@media only screen and (max-width: 992px) {
		text-align: center;
	}
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.image-container {
	text-align: center;
}

/* Button */
.btn-primary {
	background-color: $primary-green;
}


.modal {
	max-height:80%;
	max-width:600px;
	h3 {
		margin: 0;
	}
	.modal-content {
		padding: 24px 24px 10px;
	}
	.modal-footer {
		padding:0 24px 6px;
		text-align: right;
		height: inherit;
		.btn-flat {
			float:inherit;
		}
	}
	@media only screen and (max-width:600px) {
		top: 0 !important;
		width: 100%;
		height: 100%;
		max-height: inherit;
		.modal-content {
			padding: 2em 1.5em;
		}
	}
}

nav {
	background-color: $primary-green;
	position: fixed;
	top: 0;
	.nav-wrapper {
		width:80%;
		max-width: 760px;
		margin:0 auto;
		display:flex;
		justify-content: space-between;
		@media only screen and (max-width:600px) {
			width:95%;
		}
		.brand-logo {
			position:inherit;
			img {
				height: 70%;
				width: auto;
				vertical-align: middle;
			}
			@media only screen and (max-width: 992px) {
				left:inherit;
				-webkit-transform: inherit;
				transform: inherit;
				padding-left:10px
			}
		}
		ul {
			padding: 0;
		}
		.breadcrumb-container {
			flex:1;
			padding-left:1em;
		}
		.dropdown-menu ul {
			li {
				@media only screen and (max-width: 600px) {
					padding-top:0.5em;
					a {
						padding:0 0.5em;
					}
				}
			}
		}
	}
}

.card {
	margin: 0.5em 0 1em;
	border:none;
	.card-content {
		padding: 24px 24px 16px;
		color: #000;
		.card-title-container {
			display: flex;
			padding: 0 0 12px;
			text-align: center;
			flex-flow: column;
			.card-title-small {
				font-weight: 300;
				margin-bottom: 10px;
			}
			.card-title {
				font-size: 2em;
				line-height: 2.2em;
				margin: 0;
				font-weight: 500;
				color: $primary-green;
				@media only screen and (max-width:600px) {
					display:block;
				}
			}
			.card-subtitle {
				font-weight: 400;
				margin: 0;
				line-height: 1.5em;
				font-size: 1.5em;
				color: $secondary-green;
				font-weight: 400;
			}
		}
	}
	.card-action {
		padding: 8px 24px 8px;
		a, button {
			color: #2196F3 !important;
			letter-spacing:normal;
			margin: 0;
			&:hover {
				color:#90caf9 !important;
			}
		}
	}
}

.card-panel {
	.panel-title {
		font-weight: 300;
		margin-bottom: 10px;
	}
}

.modal {
	max-height:80%;
	max-width:600px;
	z-index: 10000;
	h3 {
		margin: 0;
	}
	.modal-content {
		padding: 24px 24px 10px;
	}
	.modal-footer {
		padding:0 24px 6px;
		text-align: right;
		height: inherit;
		.btn-flat {
			float:inherit;
		}
	}
	@media only screen and (max-width:600px) {
		top: 0 !important;
		width: 100%;
		height: 100%;
		max-height: inherit;
		.modal-content {
			padding: 2em 1.5em;
		}
	}
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.input-field {
		flex-grow: 1;
	}
	.left-item {
		padding-right: 0.5em;
	}
	.right-item {
		padding-left: 0.5em;
	}
	@media only screen and (max-width:600px) {
		display:block;
		h3 {
			margin-bottom:0.2em;
		}
		a, btn, button {
			width:100%;
		}
		.left-item, .right-item {
			padding: 0;
		}
	}
}

.input-field {
	display: flex;
	input, textarea {
		font-size: 1em !important;
		&:focus, &.valid {
			border-bottom: 1px solid $primary-green !important;
			box-shadow: 0 1px 0 0 $primary-green !important;
			outline:none !important;
		}
		&.invalid {
			border-bottom: 1px solid #F44336 !important;
			box-shadow: 0 1px 0 0 #F44336 !important;
		}
	}
	input {
		padding: 0 0.5em !important;
	}
	textarea {
		padding: 0.5em 0.5em 1em;
	}
	label {
		font-size:1em;
		width:100%;
		text-align: left;
		-webkit-transition:0.2s ease all;
		-moz-transition:0.2s ease all; 
		transition:0.2s ease all; 
		&:after {
			font-size:0.8em;
		}
		&.active {
			font-size: 0.8em;
			color: $primary-green !important;
			-webkit-transform: translateY(-110%);
			transform: translateY(-110%);
			&:after {
				font-size:inherit;
			}
		}
		@media only screen and (max-width:600px) {
			&:after {
				font-size:0.8em;
				margin-top:-35px;
			}
			&.active {
				&:after {
					font-size:inherit;
					margin-top: -10px;
				}
			}
		}
	}
	.select-wrapper {
		width: 100%;
		display: flex;
	}
}

.spin {
	cursor: pointer;
	&:hover {
		-webkit-animation: spinAround 1.5s linear infinite;
		-moz-animation: spinAround 1.5s linear infinite;
		animation: spinAround 1.5s linear infinite;
	}
	@-webkit-keyframes spinAround {
		from { -webkit-transform: rotate(0deg) }
		to { -webkit-transform: rotate(360deg) }
	}
	@-moz-keyframes spinAround {
		from { -moz-transform: rotate(0deg) }
		to { -moz-transform: rotate(360deg) }
	}
	@keyframes spinAround {
		from { transform: rotate(0deg) }
		to { transform: rotate(360deg) }
	}
}
